
	<div id="errorPallet">

		<div id="youHaveError">Somehow an error happened!</div>

		<div id="whatToDo">Below should be an explaination to what happened.</div>

		<div id="errorMessage">{{error}}</div>

		<div id="getHome">To get back <a href="/">home</a>.</div>

	</div>

	<script src="/javascript/mainPage.js"></script>