
@font-face { src: url("/assets/jackInput.ttf"); font-family: Jac; }
@font-face { src: url("/assets/oldNewspaperTypes.ttf"); font-family: oldTypes; }
@font-face { src: url("/assets/OregonLDOBoldOblique.ttf"); font-family: OBO; }

html, body {
	margin: 0;
	padding: 0;
	background-color: moccasin;
}

#mainPad {
	width: 94vw;
	height: 92vh;
	margin: 4vh 0 0 3vw;
	background-color: lemonchiffon;
	font-family: oldTypes;
	font-size: 1.4rem;
}

#aboutTop {
	padding: 4rem 0 0 0;
}

#aboutBot {
	padding: 1rem 0 4rem 0;
}

.about {
	font-size: 1.8rem;
	text-align: center;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#tSymbol {
	width: 10rem;
	height: 2rem;
	font-family: Jac;
	font-size: 1.6rem;
	text-align: center;
	border-radius: 0.4rem;
}

#clickForValue {
	margin: 2rem 0;
	font-family: Jac;
	font-size: 1.4rem;
	padding: 0.6rem 1rem;
	border-radius: 0.4rem;
	background-color: chocolate;
}

#thePrice {
	margin-bottom: 1rem;
	font-size: 2rem;
	text-align: center;
	visibility: hidden;
}


/* -- Error Page -- */


#errorPallet {
	width: 84vw;
	height: 20rem;
	margin: 8vw 8vw 0 8vw;
	background-color: rgb(255,0,0);
}

#youHaveError {
	font-family: OBO; font-size: 2rem;
	text-align: center;
	padding: 3rem 0 2rem 0;
}

#whatToDo {
	font-family: Jac; font-size: 1.4rem;
	text-align: center;
	font-weight: bold;
}

#errorMessage {
	font-family: Jac; font-size: 1.1rem;
	padding: 1rem 0 0 3rem;			
}


#getHome {
	font-family: Jac; font-size: 1.2rem;
	padding: 2rem 0 0 3rem;		
}


@media screen and (max-width: 530px) {
	#mainPad {
		width: 88vw;
		height: 44rem;
		margin: 4vh 0 2rem 6vw;
	}
}
